// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  padding: 0 16px;
}

h1, .h1 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: bold;
}

.page-py {
  padding-top: 16px;
  padding-bottom: 32px;
}
