// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  padding: 0 16px;
}

h1, .h1 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: bold;
}

.page-py {
  padding-top: 16px;
  padding-bottom: 32px;
}

.card-modal {
  width: 100%;
  @apply tw-bg-white;
}

@media print {
  .q-header, .q-drawer-container, h1, .q-btn {
    display: none !important;
  }

  .q-page-container {
    padding-left: 0px !important;
  }
}
